<!DOCTYPE html>
<html>
    <head>
        <title>Documentation API ServerMedAI</title>
        <meta charset="UTF  -8">
    </head>

    <style>
        body {
            margin: 50px;
        }

        .code {
            display: inline-block;
            border: 2px solid gray;
            padding: 10px;
        }
    </style>

    <body>
        <header>
            <h1>Documentation ServerMedAI API</h1>
            <hr>
        </header>
        <main>
            <div class="part">
                <h2>
                    Конфигурация доступа к моделям машинного обучения
                </h2>
                <p>
                    Является важной частью структуры сервера без которого ничего не будет рабоать. В этом файле подключаются все работоспособные модели машинного обучения. Вот тестовый пример:
                </p>
                <p class = 'code'><code>
                    import Models.Model_one.run as model_one<Br>
                        <Br>
                    models_names = [<Br>
                        'Model_one'<Br>
                    ]<Br>
                        <Br>
                    model_predict = {<Br>
                        'Model_one': model_one,<Br>
                    }<Br>
                </code></p>

                <p>
                    Сначало импортируется модель, а имеено обязательный фаил run.py в котором есть функция predict(). На вход ей подается словарь полученный из аргументов URL, а возвращает результат работы нейросети.

                    В Список models_names добавляется имя модели. Это сделанно для проверки существования модели и обновления списков доступных моделей.

                    В словрь model_predict добавляется моедль с импортированных пакетом, где лежит файл run.py
                </p>
            </div>

            <div class="part">
                <h2>
                    Конфигурация пакета
                </h2>
                <p>
                    В папке Models находятся все используемые модели. Каждая модель должна хранится в отдельной папке. В самой же папке должен, в обязательном порядке, находится файл run.py. В файле должна быть объявлена функция predict() принимающая на вход словарь. Функция описывает взаимоделйствие с моделью, хранящейся в этой же директории. Вот наглядный пример иерархии файлов:<Br>

                    <ul>
                        <li>
                            Model_one
                            <ol>
                                <li>__init__.py</li>
                                <li>run.py</li>
                                <li>Дополнительные файлы и код</li>
                            </ol>
                        </li>
                        <li>
                            Model_two
                            <ol>
                                <li>__init__.py</li>
                                <li>run.py</li>
                                <li>Дополнительные файлы и код</li>
                            </ol>
                        </li>
                        <li>...</li>
                    </ul>

                </p>
            </div>
        </main>
    </body>
</html>

















